.cards{
    padding: 15px;
    margin: 38px;
}
.option{
    background-color: #b8b09c;
    border-radius: 20px;
    color: #fff;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 30px;
    border-color: #b8b09c;
}
button.option:hover{
    border-color: #b8b09c;
    background-color: #fff;
    color:#b8b09c;
}
.link{
    text-decoration: none;
    color: #fff;
}
.link:hover{
    text-decoration: none;
    color: #b8b09c;
}