@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Parisienne&display=swap');

.titulo{
  font-family: 'Parisienne', cursive; 
  font-size: 2rem;
  text-decoration: none;
  color: black;
}
button{
    background-color: #F8F9FA;
    border: 10px;
}
.Option, .ActiveOption{
  text-decoration: none;
  color: black;
}